{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}{% trans "location"|capfirst %}{% endblock title %}

{% block content_title %}{% trans "Delete location" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form action="../pooling" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="form-group">
                    {% blocktrans %}Are you sure you want to remove the location {{ object }}?{% endblocktrans %}
                </div>

                <div class="col-lg-6">
                    <button type="submit" class="btn btn-danger">{% trans "yes"|capfirst %}</button>
                    <a href="{% url 'account:my_locations' %}" class="btn btn-info">{% trans "no"|capfirst %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
