{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}{% trans "Locations' list" %}{% endblock title %}

{% block head %}
{#    <script type="text/javascript"#}
{#      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">#}
{#    </script>#}
{% endblock %}

{% block content_title %}{% trans "Location's list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if location_list %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th># <i class="fa fa-sort"></i></th>
                                <th>{% trans 'name'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans "street"|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'city'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'coordinates'|capfirst %} <i class="fa fa-sort"></i></th>
{#                                <th></th>#}
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in location_list %}
                                <tr>
                                    <td>{{ location.id }}</td>
                                    <td>{{ location.get_name }}</td>
                                    <td>{{ location.street }}</td>
                                    <td>{{ location.city }}</td>
                                    <td>{{ location.coordinates }}</td>
{#                                    <td>#}
{#                                        <a href="javascript:void(0);" class="btn btn-info">#}
{#                                            <i class="fa fa-pencil"></i>#}
{#                                        </a>#}
{#                                    </td>#}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include 'includes/paging.html' %}
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}