{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "location"|capfirst %}{% endblock title %}

{% block head %}
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">
    </script>
    <link rel="stylesheet" href="{% static 'carpooling/css/cities.css' %}">
    <link rel="stylesheet" href="{% static 'css/google_map.css' %}">
{% endblock %}

{% block content_title %}
    {% if object %}
        {% trans "edit location"|title %}
    {% else %}
        {% trans "new location"|title %}
    {% endif %}
{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block body_attributes %}
    data-ng-app="Carpooling"
{% endblock %}

{% block content %}
    <div class="row" {% comment %}data-ng-controller="CarpoolingMapController"{% endcomment %}>
        <form method="post" action=".">
            {{ form.errors }}
            <div class="col-lg-6">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.name.id_for_label }}">
                        {{ form.name.label }}{% if form.name.field.required %} *{% endif %}
                    </label>
                    {{ form.name|add_class:'form-control' }}
                    {% if form.name.errors %}
                        <div class="help-block errornote">{{ form.name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.city_text.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.street.id_for_label }}">
                        {{ form.street.label }}{% if form.street.field.required %} *{% endif %}
                    </label>
                    {{ form.street|add_class:'form-control' }}
                    {% if form.street.errors %}
                        <div class="help-block errornote">{{ form.street.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.city_text.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.city_text.id_for_label }}">
                        {{ form.city_text.label }}{% if form.city_text.field.required %} *{% endif %}
                    </label>
                    <button id="button_map" type="button" class="btn btn-success" title="{% trans "view on map" %}" data-ng-click="show_map = !show_map">
                        <i class="fa fa-map-marker"></i>
                    </button>
                    {{ form.city_text|add_class:'form-control input_city' }}
                    {% if form.city_text.errors %}
                        <div class="help-block errornote">{{ form.city_text.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.description.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.description.id_for_label }}">
                        {{ form.description.label }}{% if form.description.field.required %} *{% endif %}
                    </label>
                    {{ form.description|add_class:'form-control' }}
                    {% if form.description.errors %}
                        <div class="help-block errornote">{{ form.description.errors }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 animate-show" {#data-ng-show="show_map"#}>
                <div id="div_map_canvas"></div>
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-info">{% trans "save"|capfirst %}</button>
                <a href="{% url 'account:my_locations' %}" class="btn btn-danger">{% trans "cancel"|capfirst %}</a>
            </div>
        </form>
    </div>
{% endblock content %}
{% block scripts %}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular-route.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular-animate.min.js' %}"></script> #}
{#    <script>#}
{#        angular.module('Carpooling', ['ngRoute']);#}
{#    </script>#}
    <script type="text/javascript" src="{% static 'js/google_map_1.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'carpooling/js/cities.js' %}"></script>
{% endblock scripts %}