{% extends "base_simple.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load widget_tweaks %}
{% providers_media_js %}

{% block title %}{% trans 'password reset'|title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-5 col-md-offset-5">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "password reset"|title %}</h3>
                </div>
                <div class="panel-body">
                    <p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
                    <form action="" method="post" role="form">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                                <label class="control-label" for="id_email">{% trans 'Email address:' %}</label> {{ form.email|add_class:'form-control'|attr:'placeholder:E-mail'|attr:'autofocus:autofocus' }}
                                <div class="help-block errornote">
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="action">
                                <button type="submit" class="btn btn-lg btn-block btn-success">{% trans 'reset my password'|capfirst %}</button><br />
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
