{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "location"|capfirst %}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/google_map.css' %}">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">
    </script>
    <link rel="stylesheet" href="{% static 'carpooling/css/cities.css' %}">
{% endblock %}

{% block content_title %}{% trans "application"|capfirst %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block body_attributes %}
    data-ng-app="Carpooling"
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2" style="margin: auto;">
                                {% comment %}<img src="{{ user.photo }}" />{% endcomment %}
                                <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" />
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'username'|capfirst %}</td>
                            <td>
                                <a href="{% url 'member:detail' application.member.username %}" title="{% trans "view profile" %}">
                                    {{ application.member.username }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'full name'|capfirst %}</td>
                            <td>{{ application.member.full_name }}</td>
                        </tr>
                        {% if application.member.public_gender %}
                            <tr>
                                <td>{% trans 'gender'|capfirst %}</td>
                                <td>{{ application.member.get_gender }}</td>
                            </tr>
                        {% endif %}
                        {% if application.member.public_birthdate %}
                            <tr>
                                <td>{% trans 'birthdate'|capfirst %}</td>
                                <td>{{ application.member.birthdate }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <form action="." method="post">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>{% trans 'id'|upper %}</td>
                                <td>{{ application.id }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'creation'|capfirst%}</td>
                                <td>{{ application.creation_date }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'pooling'|capfirst %}</td>
                                <td>
                                    {% trans 'from'|capfirst %}: {{ application.pooling.location_from }}<br />
                                    {% trans 'to'|capfirst %}: {{ application.pooling.location_to }}
                                </td>
                            </tr>
                            <tr>
                                <td>{% trans 'description'|capfirst %}</td>
                                <td>{{ application.description|default:'-' }}</td>
                            </tr>
                            <tr>
                                <td>
                                    {% if application.pooling.in_need %}
                                        {% trans 'offers'|capfirst %}
                                    {% else %}
                                        {% trans 'requires'|capfirst %}
                                    {% endif %}
                                </td>
                                <td>{{ application.seats }}</td>
                            </tr>
                            <tr>
                                <td>{% trans 'status'|capfirst %}</td>
                                <td>
                                    {% if form.status %}
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.status|add_class:'form-control' }}
                                        </div>
                                        <div style="display: none;">
                                            {% for field in form.hidden_fields %}
                                                {{ field }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ application.get_status }}
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    {% if object.end_flow %}
                        <a href="{% url 'pooling:application:received_applications' %}" class="btn btn-danger">
                            <i class="fa fa-arrow-circle-o-left"></i> {% trans "go back"|title %}
                        </a>
                    {% else %}
                        <button type="submit" class="btn btn-success">
                            {% trans "save"|capfirst %}
                        </button>
                        <a href="{% url 'pooling:application:received_applications' %}" class="btn btn-danger">{% trans "cancel"|title %}</a>
                    {% endif %}
                </form>
            </div>
        </div>
{#        <div class="col-lg-6">#}
{#            <div id="div_map_canvas"></div>#}
{#        </div>#}
    </div>

{% endblock content %}
{% block scripts %}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular-route.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'libs/js/angular/angular-animate.min.js' %}"></script>#}
{#    <script>#}
{#        angular.module('Carpooling', ['ngRoute']);#}
{#    </script>#}
{#    <script type="text/javascript" src="{% static 'js/google_map_2.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'libs/js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'carpooling/js/cities.js' %}"></script>
{% endblock scripts %}