{% load i18n %}
<div class="table-responsive">
    <table class="table table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th># <i class="fa fa-sort"></i></th>
                <th>{% trans "applicant"|capfirst %} <i class="fa fa-sort"></i></th>
                <th>{% trans 'pooling'|capfirst %} <i class="fa fa-sort"></i></th>
                <th>{% trans 'seats'|capfirst %} <i class="fa fa-sort"></i></th>
                <th>{% trans 'status'|capfirst %} <i class="fa fa-sort"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for application in object_list %}
                <tr>
                    <td>{{ application.id }}</td>
                    <td>
                        <a href="{% url 'member:detail' application.member.username %}" title="{% trans "view profile" %}">
                            {{ application.member.username }}
                        </a>
                    </td>
                    <td>{{ application.pooling.location_from }}<br />{{ application.pooling.location_to }}</td>
                    <td class="text-center">
{#                        {% if application.in_need %}#}
{#                            {% trans 'need'|capfirst %}:#}
{#                        {% else %}#}
{#                            {% trans 'available'|capfirst %}:#}
{#                        {% endif %}#}
                        {{ application.seats }}
                    </td>
                    <td>
                        {% if application.is_pending %}
                            <span class="label label-primary">
                        {% elif application.was_accepted %}
                            <span class="label label-success">
                        {% elif application.was_rejected or application.has_expired %}
                            <span class="label label-danger">
                        {% elif application.was_canceled %}
                            <span class="label label-warning">
                        {% endif %}
                                {{ application.get_status }}
                            </span>
                        &nbsp{{ application.last_status_change }}
                    </td>
                    <td>
{#                        <a href="javascript:void(0);" class="fa fa-map-marker btn btn-success" title="{% trans 'view on map' %}"></a>#}
                        {% if application.was_sent_by_me %}
                            <a href="{% url 'pooling:application:sent' application.id %}" class="fa fa-file-text-o btn btn-info" title="{% trans 'see details' %}"></a>
                        {% else %}
                            <a href="{% url 'pooling:application:received-detail' application.id %}" class="fa fa-file-text-o btn btn-info" title="{% trans 'see details' %}"></a>
                        {% endif %}
                        {% if not application.end_flow %}
                            <div class="btn-group">
                                <button type="button" class="fa fa-check-square-o btn btn-primary dropdown-toggle" title="{% trans 'apply' %}" data-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    {% for id, status in application.get_next_statuses %}
                                        <li><a href="#{{ id }}">{{ status|capfirst }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if is_paginated %}
    {% include 'includes/paging.html' %}
{% endif %}