{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}{% trans "Poolings' list" %}{% endblock title %}

{% block head %}
{#    <script type="text/javascript"#}
{#      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">#}
{#    </script>#}
{% endblock %}

{% block content_title %}{% trans "Applications' list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{% trans "pending applications"|title %}</h2>
            {% if pending_list %}
                {% include 'pooling/my_application_list_table.html' with object_list=pending_list %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-12">
            <h2>{% trans "applications"|title %}</h2>
            {% if application_list %}
                {% include 'pooling/my_application_list_table.html' with object_list=application_list %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}