{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ block.super }}{% trans "Locations' list" %}{% endblock title %}

{% block head %}
{#    <script type="text/javascript"#}
{#      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">#}
{#    </script>#}
{% endblock %}

{% block content_title %}{% trans "Poolings' list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2><a href="{% url 'pooling:pooling:create' %}" class="btn btn-info">
                <i class="fa fa-plus"></i> {% trans "New pooling" %}
            </a></h2>
            {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th># <i class="fa fa-sort"></i></th>
                                <th>{% trans 'from'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'to'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pooling in object_list %}
                                <tr>
                                    <td>{{ pooling.id }}</td>
                                    <td>{{ pooling.location_from }}</td>
                                    <td>{{ pooling.location_to }}</td>
                                    <td>
                                        <a href="javascript:void(0);" class="fa fa-edit btn btn-primary" title="{% trans 'edit' %}"></a>
                                        <a href="{% url 'pooling:pooling:delete' pooling.pk %}" class="fa fa-trash-o btn btn-danger" title="{% trans 'delete' %}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include 'includes/paging.html' %}
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}