{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "Poolings' list" %}{% endblock title %}

{% block head %}
{#    <script type="text/javascript"#}
{#      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">#}
{#    </script>#}
{% endblock %}

{% block content_title %}{% trans "Poolings' list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th># <i class="fa fa-sort"></i></th>
                                <th>{% trans 'user'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'from'|capfirst %} {% trans 'to'|capfirst %}<i class="fa fa-sort"></i></th>
                                <th>{% trans 'seats'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'date'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pooling in object_list %}
                                <tr>
                                    <td>{{ pooling.id }}</td>
                                    <td>
                                        <a href="{% url 'member:detail' pooling.member.username %}" title="{% trans "view profile" %}">
                                            {{ pooling.member.username }}
                                        </a>
                                    </td>
                                    <td>{{ pooling.location_from }}<br />{{ pooling.location_to }}</td>
                                    <td>
                                        {% if pooling.in_need %}
                                            {% trans 'need'|capfirst %}: {{ pooling.seats }}
                                        {% else %}
                                            {% trans 'available'|capfirst %}: {{ pooling.remaining_seats }} / {{ pooling.seats }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ pooling.date|date }}
                                        {% if pooling.time %}
                                            , {% trans 'at' %} {{ pooling.time }}
                                        {% endif %}
                                    </td>
                                    <td>
{#                                        <a href="javascript:void(0);" class="fa fa-map-marker btn btn-success" title="{% trans 'view on map' %}"></a>#}
                                        <a href="{% url 'pooling:pooling:detail' pooling.id %}" class="fa fa-file-text-o btn btn-info" title="{% trans 'see details' %}"></a>
{% comment %}                                        {% if user != pooling.member %}
                                            <a href="javascript:void(0);" class="fa fa-check-square-o btn btn-primary" title="{% trans 'apply' %}"></a>
                                            <div>
                                                <form>
                                                    {% with index as forloop.counter0 %}
                                                        {{application_forms.index}}
                                                        {% for field in application_forms.index %}
                                                            <div class="form-group{% if field.errors %} has-error{% endif %} col-xs-4">
                                                                {{ field }}
                                                            </div>
                                                        {% endfor %}
                                                    {% endwith %}
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="fa fa-check-square-o btn btn-success"> {% trans 'apply'|capfirst %}</button>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}{% endcomment %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include 'includes/paging.html' %}
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}