{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "Poolings' list" %}{% endblock title %}

{% block head %}

{#    html, body {#}
{#        height: 100%;#}
{#    }#}
    <link rel="stylesheet" href="{% static 'css/google_map.css' %}">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">
    </script>
    <link rel="stylesheet" href="{% static 'carpooling/css/cities.css' %}">
{% endblock %}

{% block content_title %}{% trans "Poolings' list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <form method="get" action=".">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="form-group{% if search_form.location_from.errors %} has-error{% endif %}">
                        <label for="{{ search_form.location_from.id_for_label }}" class="control-label">
                            {{ search_form.location_from.label }}
                        </label>
                        {{ search_form.location_from|add_class:'form-control' }}
                        {% if search_form.location_from.errors %}
                            <div class="help-block errornote">{{ search_form.location_from.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group{% if search_form.max_distance_from.errors %} has-error{% endif %}">
                        <label for="{{ search_form.max_distance_from.id_for_label }}" class="control-label">
                            {{ search_form.max_distance_from.label }}
                        </label>
                        {{ search_form.max_distance_from|add_class:'form-control' }}
                        {% if search_form.max_distance_from.errors %}
                            <div class="help-block errornote">{{ search_form.max_distance_from.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group{% if search_form.location_to.errors %} has-error{% endif %}">
                        <label for="{{ search_form.location_to.id_for_label }}" class="control-label">
                            {{ search_form.location_to.label }}
                        </label>
                        {{ search_form.location_to|add_class:'form-control' }}
                        {% if search_form.location_to.errors %}
                            <div class="help-block errornote">{{ search_form.location_to.errors }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group{% if search_form.max_distance_to.errors %} has-error{% endif %}">
                        <label for="{{ search_form.max_distance_to.id_for_label }}" class="control-label">
                            {{ search_form.max_distance_to.label }}
                        </label>
                        {{ search_form.max_distance_to|add_class:'form-control' }}
                        {% if search_form.max_distance_to.errors %}
                            <div class="help-block errornote">{{ search_form.max_distance_to.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label for="{{ search_form.in_need.id_for_label }}">
                            {{ search_form.in_need }} {{ search_form.in_need.label }}
                        </label>
                    </div>
                </div>
            </div>                
            <div class="col-lg-12 animate-show" {#data-ng-show="show_map"#}>
                <div id="div_map_canvas"></div>
            </div><br />
            <div class="col-lg-12 cen">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-search"></i>
                    {% trans "search"|capfirst %}
                </button>
                <a href="{% url 'pooling:pooling:search' %}" class="btn btn-warning">{% trans "clear"|title %}</a>
            </div>
        </form>
        <div class="col-lg-12">
            {% if object_list %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th># <i class="fa fa-sort"></i></th>
                                <th>{% trans 'user'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'from'|capfirst %} {% trans 'to'|capfirst %}<i class="fa fa-sort"></i></th>
                                <th>{% trans 'seats'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans 'date'|capfirst %} <i class="fa fa-sort"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pooling in object_list %}
                                <tr>
                                    <td class="pooling_id">{{ pooling.id }}</td>
                                    <td>{{ pooling.member }}</td>
                                    <td>{{ pooling.location_from }}<br />{{ pooling.location_to }}</td>
                                    <td>
                                        {% if pooling.in_need %}
                                            {% trans 'need'|capfirst %}:
                                        {% else %}
                                            {% trans 'available'|capfirst %}:
                                        {% endif %}
                                        {{ pooling.seats }}
                                    </td>
                                    <td>
                                        {{ pooling.date }}
                                        {% if pooling.time %}
                                            , {% trans 'at' %} {{ pooling.time }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" class="fa fa-map-marker btn btn-success class_view_on_map"
                                           title="{% trans 'view on map' %}" data-id="{{ pooling.id }}"></a>
                                        <a href="{% url 'pooling:pooling:detail' pooling.id %}" class="fa fa-file-text-o btn btn-info" title="{% trans 'see details' %}"></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include 'includes/paging.html' %}
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no poolings that matches the search'|capfirst %}.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/google_map_3.js' %}"></script>
{% endblock scripts %}