{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "pooling"|capfirst %}{% endblock title %}

{% block head %}
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">
    </script>
    <link rel="stylesheet" href="{% static 'carpooling/css/cities.css' %}">
    <link rel="stylesheet" href="{% static 'css/google_map.css' %}">
    <link rel="stylesheet" href="{% static 'libs/css/datepicker/datepicker3.css' %}">
{% endblock %}

{% block content_title %}
    {% if object %}
        {% trans "edit pooling"|title %}
    {% else %}
        {% trans "new pooling"|title %}
    {% endif %}
{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form method="post" action=".">
                <div class="col-lg-6">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label">
                                {{ field.label }}{% if field.field.required %} *{% endif %}
                            </label>
                            {{ field|add_class:'form-control' }}
                            {% if field.errors %}
                                <div class="help-block errornote">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>                
                <div class="col-lg-6 animate-show" {#data-ng-show="show_map"#}>
                    <div id="div_map_canvas"></div>
                </div>                
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-info">{% trans "save"|capfirst %}</button>
                    <a href="{% url 'account:my_poolings' %}" class="btn btn-danger">{% trans "cancel"|capfirst %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/google_map_2.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/datepicker/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/datepicker/locales/bootstrap-datepicker.es.js' %}"></script>
    <script type="text/javascript" src="{% static 'carpooling/js/datetimepicker.js' %}"></script>
{% endblock scripts %}