{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "location"|capfirst %}{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/google_map.css' %}">
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCwq9RrbRX2zxh9BnahOtXWuj8ATCoMEpg&sensor=true">
    </script>
    <link rel="stylesheet" href="{% static 'carpooling/css/cities.css' %}">
{% endblock %}

{% block content_title %}{% trans "pooling"|capfirst %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2" style="margin: auto;">
                                {% comment %}<img src="{{ user.photo }}" />{% endcomment %}
                                <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" />
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'username'|capfirst %}</td>
                            <td>
                                <a href="{% url 'member:detail' object.member.username %}" title="{% trans "view profile" %}">
                                    {{ object.member.username }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'full name'|capfirst %}</td>
                            <td>{{ object.member.full_name }}</td>
                        </tr>
                        {% if object.member.public_gender %}
                            <tr>
                                <td>{% trans 'gender'|capfirst %}</td>
                                <td>{{ object.member.get_gender }}</td>
                            </tr>
                        {% endif %}
                        {% if object.member.public_birthdate %}
                            <tr>
                                <td>{% trans 'birthdate'|capfirst %}</td>
                                <td>{{ object.member.birthdate }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td>{% trans 'id'|upper %}</td>
                            <td>{{ object.id }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'from'|capfirst %}</td>
                            <td id="id_location_from" data-value="{{ object.location_from.id }}">{{ object.location_from }}</td>
                        <tr>
                            <td>{% trans 'to'|capfirst %}</td>
                            <td id="id_location_to" data-value="{{ object.location_to.id }}">{{ object.location_to }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'date'|capfirst %}</td>
                            <td>
                                {{ object.date }}
                                {% if object.time %}, {{ object.time }}{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'frequency'|capfirst %}</td>
                            <td>{{ object.get_repeat }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'description'|capfirst %}</td>
                            <td>{{ object.description|default:'-' }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% if object.in_need %}
                                    {% trans 'need'|capfirst %}
                                {% else %}
                                    {% trans 'available'|capfirst %}
                                {% endif %}
                            </td>
                            <td>
                                {% if object.in_need %}
                                    {{ object.seats }}
                                {% else %}
                                    {{ object.remaining_seats }} / {{ object.seats }}
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="div_map_canvas"></div>
        </div>
    </div>
    <div class="row" {# data-ng-controller="CarpoolingApplyController" #}>
{% comment %}        <div class="col-lg-6" {# data-ng-show="showApplicationForm" data-ng-init="showApplicationForm = true" #}>
            <button type="button" class="btn btn-success" data-ng-click="showApplicationForm = !showApplicationForm">
                <i class="fa fa-check-square-o"></i> {% trans "apply"|capfirst %}
            </button>
            <a href="{% url 'pooling:pooling:list' %}" class="btn btn-danger">{% trans "go back"|title %}</a>
        </div>
{% endcomment %}
        {% if form %}
            <div {# data-ng-hide="showApplicationForm" #}>
                <div class="col-lg-4"></div>
                <form action="." method="post">
                    <div class="col-lg-4">
                        {% csrf_token %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                <label for="{{ field.id_for_field }}" class="control-label">
                                    {{ field.label }}{% if field.field.required %} *{% endif %}
                                </label>
                                {{ field|add_class:'form-control' }}
                                {% if field.errors %}
                                    <div class="help-block errornote">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">
                            {% trans "save"|capfirst %}
                        </button>
                        <a href="{% url 'pooling:pooling:list' %}" class="btn btn-danger">{% trans "cancel"|title %}</a>
                    </div>
                </form>
                <div class="col-lg-4"></div>
            </div>
        {% elif pooling.member != user %}
            <div class="alert alert-warning">
                {% if pooling.remaining_seats == 0 %}
                    {% trans "there are no seats available for this pooling"|capfirst %}.
                {% else %}
                    {% trans "you have already applied for this pooling. check the following link"|capfirst %}
                    <a href="{% url 'pooling:application:ongoing_applications' %}">{% trans "ongoing poolings" %}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock content %}
{% block scripts %}
{% comment %}     <script type="text/javascript" src="{% static 'libs/js/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/angular/angular-route.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/angular/angular-animate.min.js' %}"></script>
    <script>
        angular.module('Carpooling', ['ngRoute']);
    </script>{% endcomment %}
    <script type="text/javascript" src="{% static 'js/google_map_2.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/jquery.autocomplete.js' %}"></script>
    <script type="text/javascript" src="{% static 'carpooling/js/cities.js' %}"></script>
{% endblock scripts %}