{% load static %}

<script src="{% static 'admin/js/plugins/flot/excanvas.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'admin/js/plugins/flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'admin/js/plugins/flot/jquery.flot.resize.min.js' %}"></script>
<script src="{% static 'admin/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
