{#{% load static %}#}
{#<script src="http://{{ node_host }}:{{ node_port }}/socket.io/socket.io.js"></script>#}
{#<script>#}
{#    $(document).ready(function() {#}
{#        var socket = io.connect("{{ node_host }}", {port: {{ node_port }}});#}
{##}
{#        socket.on('connect', function() {#}
{#            console.log('connected');#}
{#        });#}
{#        socket.on('notify_{{ user.id }}', function(data) {#}
{#            data = JSON.parse(data);#}
{#            var alert_color = '';#}
{#            if (data.status == 'accepted')#}
{#                alert_color = 'alert-success';#}
{#            else if (data.status == 'pending')#}
{#                alert_color = 'alert-warning';#}
{#            else if (data.status == 'end')#}
{#                alert_color = 'alert-danger';#}
{#            var html =#}
{#                        '<li class="'+alert_color+'">' +#}
{#                        '<a href="#"><div>{#<strong>John Smith</strong><span class="pull-right text-muted">' +#}
{#                        '<em>' + data.datetime + '</em>' +#}
{#                        '</span></div>' +#}
{#                        '<div>' + data.message + '</div>' +#}
{#                        '</a></li><li class="divider"></li>';#}
{##}
{#            $('#id_notifications').prepend(html);#}
{#            var notifications_counter = $('#id_notifications li').length / 2;#}
{#            $('.notification_counter').html(notifications_counter);#}
{#            var title = document.title;#}
{#            title = title.replace(new RegExp("\\([0-9]+\\)"), "");#}
{#            document.title = "(" + notifications_counter + ") " + title;#}
{#            if ("vibrate" in navigator) {#}
{#                navigator.vibrate(1000);#}
{#                console.log("vibro");#}
{#            } else console.log("no vibro");#}
{#        });#}
{#    });#}
{#</script>#}