<ul class="pagination">
    {% if page_obj.number == 1 %}
        <li class="disabled"><a href="#">&laquo;</a></li>
    {% else %}
        <li><a href="?page=1">&laquo;</a></li>
    {% endif %}
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li class="active"><a href="#">{{ page_obj.number }} <span class="sr-only">(current)</span></a></li>
    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    {% endif %}
    {% if page_obj.number == paginator.num_pages %}
        <li class="disabled"><a href="#">&raquo;</a></li>
    {% else %}
        <li><a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
    {% endif %}
</ul>