{% load i18n %}

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">Arg-Pooling</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <span class="badge badge-danger notification_counter"></span> <i class="fa fa-caret-down"></i>
                </a>
                <ul id="id_notifications" class="dropdown-menu dropdown-messages">
{#                    <span class="pull-left text-muted">#}
{#                        <em>{% trans 'there are no new notifications' %}</em>#}
{#                    </span>#}
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="{% url 'pooling:application:my_applications' %}">
                            <div>
                                <i class="fa fa-mail-reply fa-fw"></i> {% trans 'sent applications'|capfirst %}
                                <span class="badge badge-info">{{ pending_counter }}</span><span class="text-muted small"> pending</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'pooling:application:received_applications' %}">
                            <div>
                                <i class="fa fa-mail-forward fa-fw"></i> {% trans 'received applications'|capfirst %}
                                <span class="badge badge-warning">{{ received_counter }}</span><span class="text-muted small"> pending</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'pooling:application:ongoing_applications' %}">
                            <div>
                                <i class="fa fa-truck fa-fw"></i> {% trans 'on going'|capfirst %}
                                <span class="badge badge-success">{{ ongoing_counter }}</span>
                            </div>
                        </a>
                    </li>
                </ul><!-- /.dropdown-alerts -->
            </li><!-- /.dropdown -->

            <li class="dropdown user-dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>
                    {% if user.full_name %}
                        {{ user.full_name }}
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="{% url 'account_profile' %}"><i class="fa fa-user fa-fw"></i> {% trans 'profile'|capfirst %}</a></li>
                    <li><a href="{% url 'account_change_password' %}"><i class="fa fa-lock fa-fw"></i> {% trans 'change password'|capfirst %}</a></li>
                    <li><a href="{% url 'account:my_locations' %}"><i class="fa fa-map-marker"></i> {% trans 'My locations' %}</a></li>
                    <li><a href="{% url 'account:my_poolings' %}"><i class="fa fa-map-marker"></i> {% trans 'My poolings' %}</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> {% trans 'log out'|title %}</a></li>
                </ul><!-- /.dropdown-user -->
            </li><!-- /.dropdown -->
        {% else %}
            <li><a href="{% url 'account_login' %}">{% trans "log in"|title %}</a></li>
            <li><a href="{% url 'account_signup' %}">{% trans "sign up"|title %}</a></li>
        {% endif %}
    </ul><!-- /.navbar-top-links -->
</nav><!-- /.navbar-static-top -->