{% extends 'base_simple.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <p></p>
            <img src="{% static 'admin/img/error-404-v2.png' %}" alt="error 404" />
            <h1>ERROR 404</h1>
            <p>
                {% trans "go back to"|capfirst %}
                {% if user %}
                    <a href="{% url 'pooling:pooling:list' %}">{% trans "main page" %}</a>.
                {% else %}
                    <a href="{% url 'index' %}">{% trans "homepage" %}</a>.
                {% endif %}
            </p>
        </div>
    </div>
{% endblock content %}