{% extends 'base_simple.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <p></p>
            <img src="{% static 'admin/img/error-500-v1.png' %}" alt="error 500" />
            <h1>ERROR 500</h1>
            <p>{% trans "something went wrong. we're sorry for that"|capfirst %}.</p>
            <p>
                {% trans "go back to"|capfirst %} <a href="{% url 'index' %}">{% trans "homepage" %}</a>.
            </p>
        </div>
    </div>
{% endblock content %}