<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arg-Pooling</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'admin/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'carpooling/css/style.css' %}" rel="stylesheet" />

</head>

<body>

    {% include 'includes/top_navbar.html' %}

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'admin/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'admin/js/sb-admin.js' %}"></script>

</body>

</html>