<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arg-Pooling</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'front/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="{% static 'front/css/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'front/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
</head>

<body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand"><a>{% trans "menu"|capfirst %}</a>
            </li>
            <li><a href="#top">{% trans "home"|capfirst %}</a>
            </li>
            <li><a href="#about">{% trans "about"|capfirst %}</a>
            </li>
            <li><a href="#services">{% trans "services"|capfirst %}</a>
            </li>
            <li><a href="#portfolio">{% trans "photos"|capfirst %}</a>
            </li>
            <li><a href="#start_using_it">{% trans "start using it"|capfirst %}</a>
            </li>
            <li><a href="#contact">{% trans "contact"|capfirst %}</a>
            </li>
        </ul>
    </div>
    <!-- /Side Menu -->

    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <h1>Arg-Pooling</h1>
            <h3>
                {% blocktrans %}<em>Share</em> a Ride, Right Here In <em>Argentina</em>{% endblocktrans %}
            </h3>
            <a href="#about" class="btn btn-default btn-lg">{% trans "find out more"|title %}</a>
        </div>
    </div>
    <!-- /Full Page Image Header Area -->

    <!-- Intro -->
    <div id="about" class="intro">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>{% trans "What is Carpooling?" %}</h2>
                    <p class="lead">
                        {% blocktrans %}<em>Carpooling</em> is the sharing of car journeys so that more than one person travels in a car.
                        This practice is very popular among drivers and passengers around the world.{% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>{% trans "What Benefits Do I Get?" %}</h2>
                    <p class="lead">
                        {% blocktrans %}By having more people using one vehicle, carpooling reduces each person's travel costs, such as fuel costs, tolls, and the stress of driving.{% endblocktrans %}
                    </p>
                    <p class="lead">
                        {% blocktrans %}Also, this practice is seen as a more environmentally friendly and sustainable way to travel as sharing journeys reduces carbon emissions, traffic congestion, and the need of parking spaces.{% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /Intro -->

    <!-- Services -->
    <div id="services" class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>{% trans "our services"|title %}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="lead">{% blocktrans %}Our Few But Effective Services{% endblocktrans %}</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2 col-md-offset-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-truck"></i>
                        <h4>Carpooling</h4>
                        <p>{% blocktrans %}Our main service.{% endblocktrans %}</p>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-3 text-center">
                    <div class="service-item">
                        <i class="service-icon fa fa-group"></i>
                        <h4>{% trans "making friends"|title %}</h4>
                        <p>{% blocktrans %}Why not use this trip to make new friends?{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
        <div class="vert-text">
            <h1>{% trans "Enjoy the Scenery" %}</h1>
        </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <h2>{% trans 'happy poolers'|title %}</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="{% static 'front/img/portfolio-1.jpg' %}">
                        </a>
                        <h4>{% blocktrans %}Taking a Day Off Together, Heading to the Countryside{% endblocktrans %}</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="{% static 'front/img/portfolio-2.jpg' %}">
                        </a>
                        <h4>{% blocktrans %}Need a Ride? We Have a Free Spot{% endblocktrans %}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="{% static 'front/img/portfolio-3.jpg' %}">
                        </a>
                        <h4>{% blocktrans %}Mary, John, Pierre and Michael Started Carpooling Together{% endblocktrans %}</h4>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="portfolio-item">
                        <a href="#">
                            <img class="img-portfolio img-responsive" src="{% static 'front/img/portfolio-4.jpg' %}">
                        </a>
                        <h4>{% blocktrans %}Three Business People Carpooling to Work Since 2013{% endblocktrans %}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div id="start_using_it" class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>{% blocktrans %}Start using Arg-Pooling{% endblocktrans %}</h3>
                    <a href="{% url 'account_login' %}" class="btn btn-lg btn-default">{% trans "log in"|title %}</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-lg btn-primary">{% trans "sign up"|title %}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Call to Action -->

    <!-- Map -->
    <div id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Buenos+Aires,+Argentina&amp;aq=&amp;sll=-34.608169,-58.370249&amp;sspn=0.002967,0.006539&amp;ie=UTF8&amp;hq=&amp;hnear=Buenos+Aires,+Argentina&amp;t=m&amp;ll=-34.553508,-58.373108&amp;spn=0.056552,0.067978&amp;z=11&amp;iwloc=A&amp;output=embed">
        </iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
    </div>
    <!-- /Map -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="list-inline">
                        <li><a href="http://twitter.com/yuka_kami" title="Twitter profile"><i class="fa fa-twitter fa-3x"></i></a>
                        </li>
                        <li><a href="mailto:yuka.mustang@gmail.com"><i class="fa fa-envelope fa-3x blue"></i></a>
                        </li>
                    </ul>
                    <div class="top-scroll">
                        <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
                    </div>
                    <hr>
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <script src="{% static 'front/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'front/js/bootstrap.js' %}"></script>

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

</html>
