<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Arg-Pooling</title>

    <!-- Core CSS - Include with every page -->
    <link href="{% static 'admin/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{% static 'admin/css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin/css/plugins/timeline/timeline.css' %}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'admin/css/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'carpooling/css/style.css' %}" rel="stylesheet">
    {% block head %}{% endblock head %}

</head>

<body {% block body_attributes %}{% endblock body_attributes %}>

    <div id="wrapper">

        {% include 'includes/top_navbar.html' %}

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
{#                        <div class="input-group custom-search-form">#}
{#                            <input type="text" class="form-control" placeholder="Search...">#}
{#                            <span class="input-group-btn">#}
{#                                <button class="btn btn-default" type="button">#}
{#                                    <i class="fa fa-search"></i>#}
{#                                </button>#}
{#                            </span>#}
{#                        </div>#}
                        <!-- /input-group -->
                        <span><a href="{% url 'pooling:pooling:search' %}">{% trans "advanced search"|title %}</a></span>
                    </li>
                    <li>
                        <a href="{% url 'member:list' %}"><i class="fa fa-users"></i> {% trans 'members'|capfirst %}</a>
                    </li>
                    <li>
                        <a href="{% url 'pooling:location:list' %}"><i class="fa fa-map-marker"></i> {% trans 'locations'|capfirst %}</a>
                    </li>
                    <li>
                        <a href="{% url 'pooling:pooling:list' %}"><i class="fa fa-map-marker"></i> {% trans 'poolings'|capfirst %}</a>
                    </li>
                </ul><!-- /#side-menu -->
            </div><!-- /.sidebar-collapse -->
        </nav><!-- /.navbar-static-side -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block content_title %}{% endblock content_title %}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{% static 'admin/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    {% include 'includes/notification_client.html' %}


    <!-- Page-Level Plugin Scripts - Blank -->
    {% block scripts %}{% endblock scripts %}
    <!-- SB Admin Scripts - Include with every page -->
    <script src="{% static 'admin/js/sb-admin.js' %}"></script>

    <!-- Page-Level Demo Scripts - Blank - Use for reference -->

</body>

</html>
