{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% blocktrans %}{{ object.username }}'s profile{% endblocktrans %}{% endblock title %}

{% block content_title %}{% blocktrans %}{{ object.username }}'s profile{% endblocktrans %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2" style="margin: auto;">
                                {% comment %}<img src="{{ user.photo }}" />{% endcomment %}
                                <img src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" />
                            </td>
                        </tr>
                        <tr>
                            <td>{% trans 'username'|capfirst %}</td>
                            <td>{{ object.username }}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'full name'|capfirst %}</td>
                            <td>{{ object.get_full_name|default:"-" }}</td>
                        </tr>
                        {% if object.gender %}
                            <tr>
                                <td>{% trans 'gender'|capfirst %}</td>
                                <td>{{ object.get_gender }}</td>
                            </tr>
                        {% endif %}
                        {% if object.birthdate %}
                            <tr>
                                <td>{% trans 'birthdate'|capfirst %}</td>
                                <td>{{ object.birthdate }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{% trans "sent and received applications"|capfirst %}</td>
                            <td>{{ total_application_count }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "pooling's chart"|capfirst %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if sent_application_count > 0 or received_application_count > 0 %}
                        <div class="flot-chart">
                            <div id="id_counter_chart" class="flot-chart-content">
                            </div>
                        </div>
                    {% else %}
                        {% trans "no applications were sent or received"|capfirst %}
                    {% endif %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% trans "statistic chart"|capfirst %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    {% if accepted_application_count > 0 or rejected_application_count > 0 or canceled_application_count > 0 or expired_application_count > 0 or pending_application_count > 0 %}
                        <div class="flot-chart">
                            <div id="id_statistic_chart" class="flot-chart-content">
                            </div>
                        </div>
                    {% else %}
                        {% trans "no applications were sent or received"|capfirst %}
                    {% endif %}
                </div><!-- /.panel-body -->
            </div><!-- /.panel -->
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    {% include 'includes/libs_chart.html' %}
    <script type="text/javascript">
        function draw_application_counter_chart() {
            var data_counter = [
                {label: ' {% trans 'sent'|capfirst %}', data: {{ sent_application_count }}},
                {label: ' {% trans 'received'|capfirst %}', data: {{ received_application_count }}}
            ];
            $.plot($('#id_counter_chart'), data_counter, {
                series: {
                    pie: {
                        show: true,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function(label, series) {
                                            return '<div style="font-size:10pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            },
                            background: {
                                opacity: 0.8
                            }
                        }
                    },
                    legend: {show: false}
                },
                grid: {
                    clickable: true
                }
            });
            $('#id_counter_chart').bind('plotclick', function(event, pos, item) {
                if (item) {

                }
            });

            var data_statistic = [
                {label: ' {% trans "accepted"|capfirst %}', data: {{ accepted_application_count }}},
                {label: ' {% trans "rejected"|capfirst %}', data: {{ rejected_application_count }}},
                {label: ' {% trans "canceled"|capfirst %}', data: {{ canceled_application_count }}},
                {label: ' {% trans "expired"|capfirst %}', data: {{ expired_application_count }}},
                {label: ' {% trans "pending"|capfirst %}', data: {{ pending_application_count }}}
            ];
            $.plot($('#id_statistic_chart'), data_statistic, {
                series: {
                    pie: {
                        show: true,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function(label, series) {
                                            return '<div style="font-size:10pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            },
                            background: {
                                opacity: 0.8
                            }
                        }
                    },
                    legend: {show: false}
                }
            });
        }
    $(document).ready(function() {
        draw_application_counter_chart();
        $(window).resize(function() {
            draw_application_counter_chart();
        });
    });
    </script>
{% endblock %}