{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Members' list" %}{% endblock title %}

{% block content_title %}{% trans "Members' list" %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h2>Bordered Table</h2>
            {% if member_list %}
                <div class="table-responsive">
                    <table class="table table-hover table-striped tablesorter">
                        <thead>
                            <tr>
                                <th># <i class="fa fa-sort"></i></th>
                                <th>{% trans "username"|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans "full name"|capfirst %} <i class="fa fa-sort"></i></th>
                                <th>{% trans "poolings"|capfirst %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in member_list %}
                                <tr>
                                    <td>{{ member.id }}</td>
                                    <td>
                                        <a href="{% url 'member:detail' member.username %}" title="{% trans "view profile" %}">
                                            {{ member.username }}
                                        </a>
                                    </td>
                                    <td>{{ member.get_full_name|default:'' }}</td>
                                    <td class="text-center">{{ member.pooling_set.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if is_paginated %}
                    {% include 'includes/paging.html' %}
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissable">
                    {% trans 'there are no elements to show.'|capfirst %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}