{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "member"|capfirst %}{% endblock title %}

{% block content_title %}{% trans "new member"|title %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form method="post" action=".">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label" for="{{ field.id_for_label }}">
                            {{ field.label }}{% if field.field.required %} *{% endif %}
                        </label>
                        {{ field|add_class:'form-control' }}
                        {% if field.help_text %}
                            <span class="help-block">{{ field.help_text }}</span>
                        {% endif %}
                        {% if field.errors %}
                            <div class="help-block errornote">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-info">{% trans "save"|capfirst %}</button>
                <a href="{% url 'member:list' %}" class="btn btn-danger">{% trans "cancel"|capfirst %}</a>
            </form>
        </div>
    </div>
{% endblock content %}