{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "member"|capfirst %}{% endblock title %}

{% block content_title %}{% trans "my profile"|title %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message|capfirst }}
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
            <form method="post" action=".">
                {% csrf_token %}
{#                <div class="form-group {% if form.username.errors %}has-error{% endif %}">#}
{#                    <label class="control-label" for="{{ form.username.id_for_label }}">#}
{#                        {{ form.username.label }}#}
{#                    </label>#}
{#                    {{ form.username|add_class:'form-control' }}#}
{#                </div>#}
                <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.first_name.id_for_label }}">
                        {{ form.first_name.label }}{% if form.first_name.field.required %} *{% endif %}
                    </label>
                    {{ form.first_name|add_class:'form-control' }}
                    {% if form.first_name.help_text %}
                        <span class="help-block">{{ form.first_name.help_text|capfirst }}</span>
                    {% endif %}
                    {% if form.first_name.errors %}
                        <div class="help-block errornote">{{ form.first_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.last_name.id_for_label }}">
                        {{ form.last_name.label }}{% if form.last_name.field.required %} *{% endif %}
                    </label>
                    {{ form.last_name|add_class:'form-control' }}
                    {% if form.last_name.help_text %}
                        <span class="help-block">{{ form.last_name.help_text|capfirst }}</span>
                    {% endif %}
                    {% if form.last_name.errors %}
                        <div class="help-block errornote">{{ form.last_name.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}{% if form.email.field.required %} *{% endif %}
                    </label>
                    {{ form.email|add_class:'form-control' }}
                    {% if form.email.help_text %}
                        <span class="help-block">{{ form.email.help_text|capfirst }}</span>
                    {% endif %}
                    {% if form.email.errors %}
                        <div class="help-block errornote">{{ form.email.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.birthdate.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.last_name.id_for_label }}">
                        {{ form.birthdate.label }}{% if form.birthdate.field.required %} *{% endif %}
                    </label>
                    {{ form.birthdate|add_class:'form-control' }}
{#                    {% if form.birthdate.help_text %}#}
{#                        <span class="help-block">{{ form.birthdate.help_text|capfirst }}</span>#}
{#                    {% endif %}#}
                    {% if form.birthdate.errors %}
                        <div class="help-block errornote">{{ form.birthdate.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group {% if form.gender.errors %}has-error{% endif %}">
                    <label class="control-label" for="{{ form.gender.id_for_label }}">
                        {{ form.gender.label }}{% if form.gender.field.required %} *{% endif %}
                    </label>
                    {{ form.gender|add_class:'form-control' }}
{#                    {% if form.gender.help_text %}#}
{#                        <span class="help-block">{{ form.gender.help_text|capfirst }}</span>#}
{#                    {% endif %}#}
                    {% if form.gender.errors %}
                        <div class="help-block errornote">{{ form.gender.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="control-label">
                        {% trans 'password'|capfirst %}
                    </label><br />
                    {% trans 'to change the password, follow the link'|capfirst %}
                    <a href="{% url 'account_change_password' %}">
                        {% trans 'change password'|capfirst %}
                    </a>
                </div>
                <button type="submit" class="btn btn-info">{% trans "save"|capfirst %}</button>
                <a href="{% url 'member:list' %}" class="btn btn-danger">{% trans "cancel"|capfirst %}</a>
            </form>
        </div>
        <div class="col-lg-6">
            <a href="{% url 'member:detail' user.slug %}">{% trans "view my profile"|capfirst %}</a>
        </div>
    </div>
{% endblock content %}