{% extends "base_simple.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load widget_tweaks %}
{% providers_media_js %}

{% block title %}{% trans 'log in'|title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "log in"|title %}</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" role="form">
                        <fieldset>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for err in form.non_field_errors %}
                                        {{ err }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group {% if form.login.errors %}has-error{% endif %}">
                                {{ form.login|add_class:'form-control'|attr:'autofocus:autofocus'|attr:'placeholder:Username' }}
                                {% if form.login.errors %}
                                    <div class="help-block errornote">
                                       {{ form.login.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                                {{ form.password|add_class:'form-control'|attr:'placeholder:Password' }}
                                 {% if form.password.errors %}
                                     <div class="help-block errornote">
                                        {{ form.password.errors }}
                                     </div>
                                 {% endif %}
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label class="" for="{{ form.remember.id_for_label }}">{% trans 'remember me'|title %}</label>
                                    {{ form.remember|add_class:'checkbox' }}
                                </div>
                            </div>
                            <div class="action">
                                <button type="submit" class="btn btn-lg btn-block btn-success">{% trans 'log in'|title %}</button><br />
                                <a href="{% url 'password_reset' %}">{% trans 'Forgot your password?' %}</a>
                            </div>
                            {% csrf_token %}
                        </fieldset>
                    </form>
                    <hr />
                    <a href="{% provider_login_url 'twitter' %}"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="{% provider_login_url 'facebook' %}"><i class="fa fa-facebook-square"></i> Facebook</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
