{% extends 'base_admin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}{{ block.super }}{% trans "change password"|capfirst %}{% endblock title %}

{% block content_title %}{% trans "change password"|capfirst %}{% endblock content_title %}
{% block content_subtitle %}{% endblock content_subtitle %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form action="" method="post" role="form">
                <fieldset>
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% if field.errors %}
                                <div class="help-block errornote">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="action">
                        <button type="submit" class="btn btn-success">{% trans 'save'|capfirst %}</button>
                        <a href="{% url 'account_profile' %}" class="btn btn-danger">{% trans 'cancel'|capfirst %}</a>
                    </div>
                    {% csrf_token %}
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}