{% extends "base_simple.html" %}

{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load widget_tweaks %}
{% providers_media_js %}

{% block title %}{% trans 'sign up'|title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "sign up"|title %}</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" role="form">
                        <div class="col-lg-6">
                            {% csrf_token %}
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {% for field_name in form.personal_field_names %}
                                {% for field in form.visible_fields %}
                                    {% ifequal field.name field_name %}
                                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ field.id_for_label }}">
                                                {{ field.label }}{% if field.field.required %} *{% endif %}
                                            </label>
                                            {{ field|add_class:'form-control' }}
{#                                            {% if field.help_text %}#}
{#                                                <span class="help-block">{{ field.help_text }}</span>#}
{#                                            {% endif %}#}
                                            {% if field.errors %}
                                                <div class="help-block errornote">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endifequal %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-6">
                            {% for field_name in form.account_field_names %}
                                {% for field in form.visible_fields %}
                                    {% ifequal field.name field_name %}
                                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                                            <label class="control-label" for="{{ field.id_for_label }}">
                                                {{ field.label }}{% if field.field.required %} *{% endif %}
                                            </label>
                                            {{ field|add_class:'form-control' }}
{#                                            {% if field.help_text %}#}
{#                                                <span class="help-block">{{ field.help_text }}</span>#}
{#                                            {% endif %}#}
                                            {% if field.errors %}
                                                <div class="help-block errornote">
                                                    {{ field.errors }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endifequal %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 col-lg-offset-4">
                            <div class="actions">
                                <button type="submit" class="btn btn-success">{% trans "sign up"|title %}</button>
                                <a href="{% url 'index' %}" class="btn btn-warning">{% trans 'cancel'|title %}</a>
                            </div>
                        </div>
                    </form>
                <hr />
                <div class="col-lg-12 col-lg-offset-4">
                    <a href="{% provider_login_url 'twitter' %}"><i class="fa fa-twitter"></i> Twitter</a>
                    <a href="{% provider_login_url 'facebook' %}"><i class="fa fa-facebook-square"></i> Facebook</a>
                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
