.badge-danger {
  background-color: #d9534f;
}
.badge-warning {
  background-color: #f0ad4e;
}
.badge-success {
  background-color: #5cb85c;
}
.badge-info {
  background-color: #39b3d7;
}
.badge-inverse {
  background-color: #333333;
}
.badge-primary {
  background-color: #428bca;
}

.blue_facebook {
    color: red;
}

.lightblue_twitter {
    color: #4099FF;
}